
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
<div class="container">
  <div class="login-card">

    <div class="top">
      <span class="back">← Voltar</span>
    </div>

    <div class="content">

      <div class="brand">
        ✂️
        <span>Luciano Barbearia</span>
      </div>

      <h2>Bem-vindo de volta</h2>

      <p class="subtitle">
        Quer agendar seu horário? 
        <span class="link">Cadastre-se</span>
      </p>

      <form (ngSubmit)="onSubmit()">

        <input 
          type="email" 
          [(ngModel)]="email" 
          name="email"
          placeholder="Seu email">

        <input 
          type="password" 
          [(ngModel)]="senha" 
          name="senha"
          placeholder="Sua senha">

        <button type="submit">Entrar</button>

        <p class="info">
          Acesso exclusivo para funcionários ou proprietário
        </p>

        <p *ngIf="erro" class="erro">
          {{ erro }}
        </p>

      </form>

    </div>
  </div>
</div>